:root {
    /* Font Sizes */
    /* Document */
    --headingOneFontSize: 1.875rem;
    --headingTwoFontSize: 2.25rem;
    --headingThreeFontSize: 1.75rem;

    --paragraphFontSize: 1.25rem;

    --buttonFontSize: 1.125rem;

    /* Settings */
    --settingsCategoryHeadingSize: 1.25rem;
    --settingsCategoryHeadingWeight: bold;
    --settingsCategoryHeadingColor: hsl(0, 0%, 90%);

    --settingsLabelFontSize: 1.125rem;
    --settingsLabelFontColor: hsl(0, 0%, 80%);


    /* Colors */

    --backgroundColor: hsl(0, 0%, 13%);

    --settingsSection: hsl(0, 0%, 17%);

    --headingOneColor: hsl(0, 0%, 100%);

    --headingTwoColor: hsl(0, 0%, 95%);

    --headingThreeColor: hsl(0, 0%, 90%);

    --paragraphColor: hsl(0, 0%, 80%);

    --button: hsl(0, 0%, 20%);

    --buttonHover: hsl(0, 0%, 24%);

    --buttonActive: hsl(0, 0%, 16%);


    /* Custom Color */

    --h: 164;
    /* Hue */
    --s: 100%;
    /* Saturation */
    --l: 30%;
    /* Lightness */

    --primaryColor: hsl(var(--h), var(--s), var(--l));

    --buttonClicked: hsl(var(--h), var(--s), calc(var(--l) - 10%));

    --mobileMenuFucus: hsl(var(--h), var(--s), calc(var(--l) - 10%));


    /* Border Radius */

    --borderRadiusBig: 8px;

    --borderRadiusSmall: 4px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);

    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.resize-animation-stopper * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
}

.mobileTopBar {
    position: fixed;
    top: 0;
    inset-inline: 0;

    display: none;
    align-items: center;
    padding-block: 4px;
    padding-inline: 8px;
    justify-content: space-between;


    height: 56px;
    z-index: 1001;

    background-color: var(--primaryColor);
    box-shadow: 0px 0px 30px 15px hsla(0, 0%, 7%, 0.7);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settingsIcon {
    display: block;
    width: 24px;
    height: 24px;
    align-self: center;
    aspect-ratio: 1;
    margin: 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../icons/settings.svg);
    border: none;
    padding: 0;
    z-index: 1002;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.settingsContent {
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    padding-top: 100px;
    inset: 0 0 0 0;
    z-index: 1000;
    background-color: var(--backgroundColor);
    overflow: auto;
}

.settingsContent[data-visible="true"] {
    display: flex;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1000px;
    gap: 15px;
}

.settingsCategory {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--settingsLabelFontColor);
    gap: 5px;
}

.settingsCategory:last-of-type {
    padding-bottom: 150px;
    border-bottom: none;
}

.settingsCategoryHeading {
    text-align: left;
    font-size: var(--settingsCategoryHeadingSize);
    font-weight: var(--settingsCategoryHeadingWeight);
    color: var(--settingsCategoryHeadingColor);
}

.settingsLabel {
    font-size: var(--settingsLabelFontSize);
    color: var(--settingsLabelFontColor);
}

.settingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: var(--borderRadiusSmall);
    background-color: var(--settingsSection);
}

.mobileMenu {
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: none;
    padding: 0;
    z-index: 1002;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
}

.settingsMenu {
    -webkit-tap-highlight-color: transparent;
}

.mobileMenuIcon {
    display: block;
    width: 24px;
    height: 24px;
    align-self: center;
    aspect-ratio: 1;
    margin: 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../icons/menu.svg);
    border: none;
    padding: 0;
    z-index: 1002;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.mobileMenuRoundBackground {
    display: flex;
    vertical-align: middle;
    align-self: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mobileMenuRoundBackground:focus-within {
    background-color: var(--mobileMenuFucus);
}

.mobileMenu[data-active="true"]>.mobileMenuIcon {
    background-image: url(../icons/close.svg);
}

.navbar {
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 1001;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
    padding-block: 4px;
    height: 56px;

    background-color: var(--backgroundColor);
    box-shadow: 0px 10px 20px 0px hsla(0, 0%, 4%, 0.7);
    overflow: auto;
}

.websiteName {
    color: white;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    padding: 0;
    text-decoration: none;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.btn {
    font-size: var(--buttonFontSize);
    padding-block: 15px;
    padding-inline: 30px;
    border: none;
    border-radius: var(--borderRadiusBig);
    background-color: var(--button);
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: var(--buttonHover);
}

.btn:active {
    background-color: var(--buttonActive);
}

.btn.active {
    background-color: var(--buttonClicked);
}

.tab-content {
    padding-inline: 10vw;
    padding-top: 100px;
}

section {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.active[data-tab-content] {
    display: block;
}

[data-tab-content] {
    display: none;
}

.contentSection {
    border-bottom: 2px dashed var(--paragraphColor);
    padding-bottom: 7vh;
}

.contentSection:last-child {
    border-bottom: none;
}

.contentSection:last-child img {
    padding-bottom: 0;
}

h1 {
    text-align: center;
    font-size: var(--headingOneFontSize);
    color: var(--headingOneColor);
}

h2 {
    text-align: center;
    font-size: var(--headingTwoFontSize);
    color: var(--headingTwoColor);
}

h3 {
    text-align: center;
    font-size: var(--headingThreeFontSize);
    color: var(--headingThreeColor);
}

p {
    text-align: center;
    color: var(--paragraphColor);
    font-size: var(--paragraphFontSize);
}

img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

label {
    color: var(--paragraphColor);
    font-size: var(--paragraphFontSize);
    word-wrap: break-word;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;

    -webkit-tap-highlight-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-moz-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: var(--borderRadiusBig);
    border: 2px solid var(--primaryColor);
}

input[type="color"]::-moz-color-swatch {
    border-radius: var(--borderRadiusBig);
    border: 2px solid var(--primaryColor);
}


.switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 44px;
}

.switch input {
    display: none;
}

.slider {
    background-color: hsl(0, 0%, 15%);
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: .4s;
    height: 20px;
    width: 40px;
    border: 2px solid hsl(0, 0%, 48%);
}

.slider:hover {
    background-color: hsl(0, 0%, 20%);
}

.slider:before {
    background-color: hsl(0, 0%, 81%);
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.slider {
    background-color: var(--primaryColor);
    -webkit-tap-highlight-color: transparent;
    border: 2px solid var(--primaryColor);
}

input:checked+.slider:before {
    transform: translateX(20px);
    background-color: hsl(0, 0%, 0%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.select {
    padding-block: 8px;
    padding-inline: 12px;
    font-size: var(--paragraphFontSize);
    border: none;
    border-radius: var(--borderRadiusBig);
    background-color: hsl(0, 0%, 12%);
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 12px solid transparent;

    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.screenshots {
    max-width: 80vw;
    height: auto;
}

.screenshotTable {
    max-width: 80vw;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5vh;
}

.aufgabenListe {
    padding-bottom: 10vh;
    border-bottom: 2px solid var(--paragraphColor);
    flex-wrap: wrap;
}

.aufgabe {
    padding: 10vh 0;
    border-bottom: 2px dashed var(--paragraphColor);
}

.aufgabe:last-child {
    padding: 10vh 0 0 0;
    border-bottom: none;
}

.aufgabe:last-child img {
    padding-bottom: 0;
}

.arrowUp {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 48px;
    aspect-ratio: 1;
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border-radius: 50%;

    background-image: url(../icons/arrow-up.svg);
    border: none;
    padding: 0;
    z-index: 998;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.learnMoreButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--buttonFontSize);
    padding-block: 15px;
    padding-inline: 30px;
    background-color: var(--button);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: var(--borderRadiusBig);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.learnMoreButton:hover {
    background-color: var(--buttonHover);
}

.learnMoreButton:active {
    background-color: var(--buttonActive);
}

.openInNewTabIcon {
    width: 24px;
    aspect-ratio: 1;
    background-image: url(../icons/links.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

@media (max-width: 768px) {

    :root {
        --headingTwoFontSize: 1.563rem;
        --headingThreeFontSize: 1.25rem;

        --paragraphFontSize: 1.125rem;
    }

    .mobileTopBar {
        display: flex;
    }

    .mobileMenu {
        display: block;
    }

    .navbar {
        top: 35px;
        height: 100dvh;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        inset-inline: unset;
        inset: 0 0 0 30vw;

        box-shadow: none;
        z-index: 999;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
        box-shadow: -10px 0px 20px 0px hsla(0, 0%, 7%, 0.7);
    }

    .hideOnMobile {
        display: none;
    }

    .btns {
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .navbar>.btns {
        padding-top: 64px;
    }

    .tab-content {
        padding-inline: 5vw;
    }

    .screenshots {
        max-width: 90vw;
        height: auto;
    }

    .arrowUp {
        bottom: 30px;
        right: 8px;
        background-size: 24px;
    }
}