/index copy.html
/htmlStructure.html
/javascript.html
/table.html
/tags.html
/jsDatentypen.js
/jsVariablen.js
/htmlGrundstruktur.png
/htmlTags.png
/JavaScriptVerlinken.png
/jsEinfacheDatentypen.png
/jsVariablen.png
/Screenshot 2022-11-21 192107.png
/tabelle.png
schrauben_html.png
schrauben_js.png
V2.html