:root {
    --headingOne: 4rem;
    --headingTwo: 3rem;
    --headingThree: 2rem;
    --paragraphFontSize: 1.5rem;

    --backgroundColor: hsl(0, 0%, 0%);

    --headingColor: white;
    --paragraphColor: hsl(0, 0%, 70%);
}

@media (max-width: 480px) {
    :root {
        --headingOne: 3rem;
        --headingTwo: 2rem;
        --headingThree: 1.5rem;
        --paragraphFontSize: 1.2rem;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 5vw;
    background-color: var(--backgroundColor);
}

header {
    position: relative;
    left: 50%;
    translate: -50%;
    max-width: 90vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid grey;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5vw;
}

.tab {
    font-size: var(--paragraphFontSize);
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: .5rem;
    background-color: rgb(0, 115, 168);
    color: white;
    cursor: pointer;
}

.tab:hover {
    background-color: rgb(0, 134, 196);
}

.tab:active {
    transform: scale(0.95);
    background-color: rgb(0, 93, 136);
}

.tab.active {
    background-color: rgb(0, 81, 119);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab-content {
    padding: 10vh 0 0 0;
}

section * :not(.tab) {
    position: relative;
    left: 50%;
    translate: -50%;

    font-size: var(--paragraphFontSize);
}

h1 {
    text-align: center;
    padding-bottom: 5vh;
    font-size: var(--headingOne);
    color: var(--headingColor);
}

h2 {
    text-align: center;
    font-size: var(--headingTwo);
    color: var(--headingColor);
}

h3 {
    text-align: center;
    font-size: var(--headingThree);
    color: var(--headingColor);
}

p {
    text-align: center;
    color: var(--paragraphColor);
}

img {
    padding-bottom: 5vh;
}

.screenshots {
    min-width: 0%;
    max-width: 100%;
    height: auto;
}

.screenshotTable {
    min-width: 0%;
    max-width: 90%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5vh;
}


.aufgabenListe {
    padding-bottom: 10vh;
    border-bottom: 2px solid var(--paragraphColor);
}

.aufgabe {
    padding: 10vh 0;
    border-bottom: 2px dashed var(--paragraphColor);
}

.aufgabe:last-child {
    padding: 10vh 0 0 0;
    border-bottom: none;
}

.aufgabe:last-child img {
    padding-bottom: 0;
}

.contentSection {
    border-bottom: 2px dashed var(--paragraphColor);
}

.contentSection:last-child {
    border-bottom: none;
}

.contentSection:last-child img {
    padding-bottom: 0;
}