*:not(table, th, tr, td) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 50%;
    translate: -50%;
}

body {
    margin: 0;
    padding: 5vw;
}

h1 {
    padding-top: 1rem;
    font-size: 3rem;
    text-align: center;
    max-width: 90vw;
}

h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    max-width: 90vw;
}

p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 80vw;
}

.screenshots {
    max-width: 90vw;
}

@media (max-width: 400px){
    h {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }
}
