:root {
    --headingOne: 4rem;
    --headingTwo: 3rem;
    --headingThree: 2rem;
    --paragraphFontSize: 1.5rem;
}

@media (max-width: 480px) {
    :root {
        --headingOne: 3rem;
        --headingTwo: 2rem;
        --headingThree: 1.5rem;
        --paragraphFontSize: 1.2rem;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 5vw;
}

header {
    position: relative;
    left: 50%;
    translate: -50%;
    max-width: 90vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid grey;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.tab {
    font-size: var(--paragraphFontSize);
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: .5rem;
    background-color: rgb(0, 115, 168);
    color: white;
}

.tab:hover {
    background-color: rgb(0, 134, 196);
}

.tab:active {
    transform: scale(0.95);
    background-color: rgb(0, 93, 136);
}

.tab.active {
    background-color: rgb(0, 81, 119);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

section * {
    position: relative;
    left: 50%;
    translate: -50%;

    font-size: var(--paragraphFontSize);
}

h1 {
    text-align: center;
    padding-bottom: 5vh;
    font-size: var(--headingOne);
}

h2 {
    text-align: center;
    font-size: var(--headingTwo);
}

h3 {
    text-align: center;
    font-size: var(--headingThree);
}

p {
    text-align: center;
}

img {
    padding-bottom: 5vh;
}

.screenshots {
    width: 100%;
}